<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap - Prebuilt Layout</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">

    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <div class="panel panel-primary">
                    <div class="panel-heading "><strong>Add Contact</strong></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-left">
                <div class="panel panel-primary">

                    <div class="panel-body">
                        <div class="col-md-12">Contact Information</div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3 ">Name</div>
                            <div class="col-md-3"><input class="form-control col-md-3" name="firstname" placeholder="First" type="text" required autofocus /></div>
                            <div class="col-md-3"><input class="form-control col-md-3" name="firstname" placeholder="Middle" type="text" required autofocus /></div>
                            <div class="col-md-3"><input class="form-control col-md-3" name="firstname" placeholder="Last" type="text" required autofocus /></div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3 ">Father/Husband</div>
                            <div class="col-md-9"><input class="form-control col-md-3" name="Companyname" placeholder=" " type="text" required autofocus /></div>

                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3">Age </div>
                            <div class="col-md-3"><input class="form-control col-md-3" name="firstname" placeholder="" type="text" required autofocus /></div>
                            <div class="col-md-2">Sex </div>
                            <div class="col-md-4">
                                <select class="form-control">
                                    <option value="Client">Mail</option>
                                    <option value="Co-counsel">Femail</option>
                                    <option value="Expert">Other</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="col-md-3 ">Group</div>
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option value="Client">Client</option>
                                    <option value="Co-counsel">Co-counsel</option>
                                    <option value="Expert">Expert</option>
                                    <option value="Expert">Judge</option>
                                    <option value="Expert">Unassigned</option>
                                </select>
                            </div>
                            <div class="col-md-3"><a href="">Add Group</a></div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3">E-mail </div>
                            <div class="col-md-9"><input class="form-control col-md-3" name="firstname" placeholder="name@domain.com" type="text" required autofocus /></div>
                        </div>



                    </div>
                </div>
            </div>
            <div class="col-md-6 text-left">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="col-md-12">Phone Numbers</div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3">Home</div>
                            <div class="col-md-9"><input class="form-control col-md-3" name="firstname" placeholder=" " type="text" required autofocus /></div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3">Work</div>
                            <div class="col-md-9"><input class="form-control col-md-3" name="firstname" placeholder=" " type="text" required autofocus /></div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3">Mobile 1</div>
                            <div class="col-md-9"><input class="form-control col-md-3" name="firstname" placeholder=" " type="text" required autofocus /></div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3">Mobile 2</div>
                            <div class="col-md-9"><input class="form-control col-md-3" name="firstname" placeholder=" " type="text" required autofocus /></div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3 ">Company</div>
                            <div class="col-md-6"><input class="form-control col-md-3" name="Companyname" placeholder=" " type="text" required autofocus /></div>
                            <div class="col-md-3"><a href="">Browse All</a></div>
                        </div>




                    </div>

                </div>

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6 text-left">
                <div class="panel panel-primary">

                    <div class="panel-body">
                        <div class="col-md-12">Address</div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3 ">Country</div>
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option value="Client">a</option>
                                    <option value="Co-counsel">b</option>
                                    <option value="Expert">c</option>
                                    <option value="Expert">d</option>
                                    <option value="Expert">e</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3 ">State</div>
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option value="Client">a</option>
                                    <option value="Co-counsel">b</option>
                                    <option value="Expert">c</option>
                                    <option value="Expert">d</option>
                                    <option value="Expert">e</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3 ">Tehsil/Taluka</div>
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option value="Client">a</option>
                                    <option value="Co-counsel">b</option>
                                    <option value="Expert">c</option>
                                    <option value="Expert">d</option>
                                    <option value="Expert">e</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-12 form-group">
                            <div class="col-md-3 ">Address</div>
                            <div class="col-md-9"><input class="form-control col-md-3" name="Companyname" placeholder=" " type="text" required autofocus /></div>

                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3 ">Land Mark</div>
                            <div class="col-md-4"><input class="form-control col-md-3" name="Companyname" placeholder=" " type="text" required autofocus /></div>
                            <div class="col-md-2 ">Pin Code</div>
                            <div class="col-md-3"><input class="form-control col-md-3" name="Companyname" placeholder=" " type="text" required autofocus /></div>

                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3 ">Pin Code</div>
                            <div class="col-md-9"><input class="form-control col-md-3" name="Companyname" placeholder=" " type="text" required autofocus /></div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3 ">Police Station</div>
                            <div class="col-md-6"><input class="form-control col-md-3" name="Companyname" placeholder=" " type="text" required autofocus /></div>
                            <div class="col-md-3"><a href="">Browse All</a></div>
                        </div>




                    </div>
                </div>
            </div>
            <div class="col-md-6 text-left">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="col-md-12">Other</div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3">Welcome Message</div>
                            <div class="col-md-9"><textarea class="form-control" id="new_message" name="new_message" placeholder="Type in your message" rows="5"></textarea></div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-3">Private Notes</div>
                            <div class="col-md-9"><textarea class="form-control" id="new_message" name="new_message" placeholder="Type in your message" rows="5"></textarea></div>
                        </div>


                        <div class="col-md-12 form-group">
                            <div class="col-md-3">Fax</div>
                            <div class="col-md-9"><input class="form-control col-md-3" name="firstname" placeholder="name@domain.com" type="text" required autofocus /></div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-lg btn-primary ">Save</button>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.2.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
</body>
</html>
