<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap - Prebuilt Layout</title>

<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet">
<style type="text/css">
 
</style>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body  >

<div class="container">
	<div class="row">
        <div class="col-md-12 text-left">
            <div class="panel panel-primary"> 
                <div class="panel-heading "><strong>Add Case </strong></div>
            </div>   
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 text-left">
              <div class="panel panel-primary">
           
                <div class="panel-body">
                <div class="col-md-12 form-group  bg-warning ">Client & Contact </div>
                <div class="col-md-12 form-group "> 
                	Which clients and contacts should be linked to case <strong>jay v/s mack?</strong>
                
                 </div>
                 <div class="col-md-12 form-group">
                 	 
                   	<div class="col-md-3 ">Contact Name </div>
                    <div class="col-md-6"><input class="form-control " name="Companyname" placeholder=" " type="text" required autofocus /></div>
                    <div class="col-md-3"><a href="#">Browse All</a></div>
                 </div>
                 
                 <div class="col-md-12 form-group "> 
 					<div class="col-md-3"> </div>
                   	<div class="col-md-4"><a href="#">Add a New Contact</a> </div>
                    <div class="col-md-4"><a href="#">Add a new company</a></div>
 
                 </div>
       
                

               
                
            </div>
            
                        
            
            
            
        </div>
        
              <div class="panel panel-primary">
           
                <div class="panel-body">
                <div class="col-md-12 form-group  bg-warning ">Billing Information</div>
 
                 <div class="col-md-12 form-group">
                 	 
                   	<div class="col-md-3 ">Billing Type</div>
                    <div class="col-md-6"><select class="form-control">
                                <option value="Client">Select Billing Type</option>
                                <option value="Co-counsel">Contingency</option>
                                <option value="Expert">Flat Fee</option>
                                <option value="Expert">Spcl Free Customer</option>
                                 
                            </select> 
                    </div>
 
                 </div>
                 
                 <div class="col-md-12 form-group "> 
 					<div class="col-md-3"></div>
                   	<div class="col-md-3"><input class="form-control " name="Companyname" placeholder=" " type="text" required autofocus /></div>
                    <div class="col-md-6">RsFlat Fee Amount </div>
 
                 </div>
       
                

                
                 <hr />    
     <div class="col-md-5 navbar-right m">          
             <button type="submit" class="btn btn-lg btn-primary">Next to Billing</button>
     </div>
                
            </div>
            
                        
            
            
            
        </div>
        

        
        
        
        
        </div>
     

      
        
    </div>


    
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-1.11.2.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.js"></script>
</body>
</html>
